* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  background-color: #808080;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

@page {
  size: A4 landscape;
  margin: 0;
}

.page {
  width: 297mm;
  height: 210mm;
  padding: 13mm 18mm;
  background-color: white;
  /* for nice effect of shadow behind the page */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

@media print {
  .page {
    height: auto;
    box-shadow: initial;
    background-color: initial;
  }
}

.content {
  background-color: #808080;
  height: 100%;
}
